@use '../site/v';

.banner {
	position: relative;
}

.banner .banner-title-container {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.banner .banner-title-inner-container {
	background-color: v.$trans-white;
	text-align: center;
	padding: 10px;

	@media (min-width: 640px) {
		padding: 20px;
	}
}

.banner .banner-title-container h1 {
	margin: 0;

	@media (min-width: 640px) {
		font-size: 2rem;
	}
}

.banner .banner-title-container h3 {
	margin: 0;

	@media (min-width: 640px) {
		font-size: 1.4rem;
	}
}

.banner .banner-slide {
  display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
}

.banner .banner-slide img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.banner .banner-slide .slide-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	bottom: 50px;
	left: 40px;
	z-index: 2;
	opacity: 0.9;

	@media (max-width: 640px) {
		bottom: 25px;
		left: 20px;
	}
}

.banner .banner-slide h3 {
  font-size: 2.2rem;
	color: v.$brand-alt-light;
	margin: 0;

	@media (max-width: 640px) {
		font-size: 2rem;
	}
}

.banner .banner-slide h4 {
	font-size: 1.2rem;
	color: v.$brand-alt-light;
	margin: 0 0 0 3px;
	line-height: 20px;

	@media (max-width: 640px) {
		font-size: 1rem;
	}
}

.banner .banner-slide p {
	z-index: 2;
  font-size: 1.3rem;
  margin: 0;
}

.banner .banner-overlay {
	background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.banner .banner-nav {
  position: absolute;
  background-color: v.$trans;
}

.banner .carousel__icon {
  transform: scale(1.2);
  opacity: 0.5;
}

.banner .carousel__prev {
  left: 20px;
}

.banner .carousel__next {
  right: 20px;
}

.banner .banner-pagination {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-left: 20px;
	padding-right: 20px;
}

.banner .carousel__pagination-button {
  height: 2px;
  width: 20px;
  transform: scale(0.8);
  border-radius: 3px;
  background-color: v.$white;
  margin: 0 10px;
  opacity: 0.5;

	@media (max-width: 640px) {
		transform: scale(0.5);
		margin: 0 5px;
	}
}

.banner .carousel__pagination-button--active,
.banner .carousel__icon:hover,
.banner .carousel__pagination-button:hover {
  @media (min-width: 640px) {
		opacity: 1;
	}
}