@use 'v';

html {
	background-color: v.$white;
	height: 100dvh;
	padding-bottom: env(safe-area-inset-bottom);
}

body {
	height: 100%;
	position: relative;
	overflow: hidden;
	transition: all 200ms ease;
}

#page-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: v.$white;
	overflow-y: scroll;
	overflow-x: hidden;
	// position: relative;
}

.page-margin {
	margin-left: 20px;
	margin-right: 20px;
}

.section-width {
	display: flex;
	width: 100%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

main {
	position: relative;
	margin-top: v.$header-height;
	// padding-bottom: 30px;

	@media (max-width: 640px) {
		margin-top: v.$header-height-mobile;
	}
}

.link-trail {
	position: absolute;
	top: 2px;
	left: 10px;
}

.link-trail i {
	font-size: 0.9rem;
	opacity: .8;
}

.link-trail a:hover {
	@media (min-width: 640px) {
		color: v.$brand-alt-dark;
		text-decoration: underline;
	}
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.page-column-container {
	display: flex;
	flex-direction: column;

	@media (min-width: 640px) {
		flex-direction: row;
	}
}

.page-column-container .page-column {
	flex-grow: 1;
	min-width: 200px;
}

.page-column-container .page-column:not(:first-child) {
	@media (min-width: 640px) {
		margin-left: 40px;
	}
}

.page-button-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.page-button-row .page-button span {
	margin-left: 5px;
}

button {
	padding: 6px 9px;
	font-size: 1rem;
	cursor: pointer;
}

button.page-button,
a.page-button,
input.page-button {
	display: flex;
	align-items: center;
	justify-content: center;
	// background-color: v.$brand-main;
	background-color: v.$black;
	color: v.$white;
	border-radius: 3px;
	font-size: 1rem;
	cursor: pointer;

	@media (max-width: 640px) {
		font-size: 0.8rem;
	}
}

.page-button.padding {
	padding: 5px 10px;

	@media (max-width: 640px) {
		padding: 3px 8px;
	}
}

.page-button.padding-large {
	padding: 8px 16px;

	@media (max-width: 640px) {
		padding: 6px 12px;
	}
}

button.page-button:not(.submit, .warning-overlay .page-button, .no-margin),
a.page-button:not(.submit, .warning-overlay .page-button, .no-margin) {
	margin-top: 10px;
	margin-bottom: 10px;
}

button.page-button:not(:first-child, .submit, .warning-overlay .page-button, .no-margin),
a.page-button:not(:first-child, .submit, .warning-overlay .page-button, .no-margin) {
	margin-left: 10px;
}

button.page-button:hover:not(.pb-success, .pb-danger, .pb-dark),
a.page-button:hover:not(.pb-success, .pb-danger, .pb-dark) {
	@media (min-width: 640px) {
		background-color: v.$brand-main-darker;
	}
}

button.page-button i,
a.page-button i {
	font-size: 1.1rem;
	color: v.$white;
	margin-left: 5px;

	@media (max-width: 640px) {
		font-size: 0.8rem;
	}
}

// button.page-button i:first-child,
// a.page-button i {
// 	margin: 0 5px 0 0;
// }

// button.page-button i:last-child,
// a.page-button i:last-child {
// 	margin: 0 0 0 5px;
// }

.page-button .fa-angles-left {
	margin-left: 0;
	margin-right: 5px;
}

// button.page-button:hover i,
// a.page-button:hover i {
// 	@media (min-width: 640px) {
// 		color: v.$black;
// 	}
// }

button.button-active {
	background-color: v.$brand-alt-dark
}

.page-button.pb-success {
	background-color: v.$pale-green;
}

.page-button.pb-success:hover {
	@media (min-width: 640px) {
		background-color: v.$pale-green-darker;
	}
}

.page-button.pb-danger {
	background-color: v.$pale-red;
}

.page-button.pb-danger:hover {
	@media (min-width: 640px) {
		background-color: v.$pale-red-darker;
	}
}

.fa-toggle-off {
	color: v.$pale-red;
}

.fa-toggle-on {
	color: v.$pale-green;
}

.wb-container-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px
}

.wb-container-row .web-box {
	margin: 0;

	@media (min-width: 500px) {
		width: calc(50% - 5px);
	}

	@media (max-width: 500px) {
		width: 100%;
	}
}

.web-box {
	border-radius: 5px;
	margin-bottom: 10px;
}

.web-box:not(.product-page-main) {
	background-color: v.$white;
	box-shadow: v.$box-shadow;
	// border: 1px solid v.$brand-main;
	padding: 15px;
}

.web-box.limited {
	max-width: 600px;
}

.web-box h3 {
	font-size: 1.4rem;
	margin: 0 0 0 10px;
}

.web-box ul {
	margin: 0;
	padding: 10px;
}

.web-box .wb-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.web-box .wb-row:not(form .wb-row) {
	@media (max-width: 640px) {
		flex-direction: column;
	}
}

.clear-box {
	display: flex;
	flex-direction: column;
	padding: 20px 40px 40px 40px;
	color: white;

	@media (max-width: 640px) {
		padding: 20px 20px 40px 20px;
	}
}

.clear-box.center {
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.clear-box.center-mobile {
	@media (max-width: 640px) {
		align-items: center;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.clear-box.center-desktop {
	@media (min-width: 640px) {
		align-items: center;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.clear-box.small {
	max-width: 600px;
}

.clear-box.medium {
	max-width: 900px;
}

.clear-box.large {
	max-width: 1200px;
}

.clear-box h2 {
	margin-bottom: 10px;
}

.clear-box p {
	font-size: 1.1rem;
}

.popup-label-container {
	position: relative;
	display: flex;
}

.popup-label-button:hover .popup-label {
	@media (min-width: 640px) {
		display: flex;
	}
}

.popup-label {
	display: none;
	position: absolute;
	right: 26px;
	// bottom: 20%;
	line-height: 10px;
	white-space: nowrap;
	background-color: v.$almost-black;
	color: v.$white;
	padding: 6px 8px 4px 8px;
	border-radius: 5px;
	font-size: .6rem;
	z-index: 4;
	letter-spacing: 0.1rem;
}

.popup-label:not(.fa-square .popup-label-container .popup-label) {
	bottom: 4px;
}

.fa-square .popup-label-container .popup-label {
	bottom: -9px;
}

.hide-mobile {
	@media (max-width: 640px) {
		display: none;
	}
}

.hide-desktop {
	@media (min-width: 640px) {
		display: none;
	}
}

// Image Viewer
.image-viewer {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	max-width: 100%;
	max-height: 100%;
	background-color: v.$trans-dark;
	z-index: 6;
	padding: 10px;

	@media (min-width: 640px) {
		padding: 20px;
	}
}

.viewer-image {
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);

	@media (min-width: 640px) {
		max-width: calc(100vw - 40px);
		max-height: calc(100vh - 40px);
	}
}

.image-viewer .fa-xmark {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
	color: v.$white;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1.1rem;
	width: 18px;
	height: 18px;
	text-align: center;
}

.image-viewer .fa-xmark:hover {
	@media (min-width: 640px) {
		color: v.$black;
		background-color: v.$white;
	}
}

#loading-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: v.$white;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 1500ms ease-out;
}

#loading-screen.transition1 img {
	transform: scale(0.9);
}

#loading-screen.transition2 {
	transition: all 800ms ease-in;
	opacity: 0;
}

#loading-screen.remove {
	display: none;
}

#loading-screen img {
	transition: all 2300ms ease-out;
	height: 20%;
	position: relative;
	top: 0%;
}

#loading-screen img.remove {
	transition: all 600ms ease-in;
	opacity: 0;
	top: 2%;
}

// Hover Styles ---------------------------------------
.lt .hover:hover,
.hover:hover h2,
.hover:hover li,
.hover:hover i {
	@media (min-width: 640px) {
		cursor: pointer;
		color: v.$hv-main;
	}
}

.hover-background:hover {
	@media (min-width: 640px) {
		background-color: v.$brand-alt-dark;
		color: v.$white;
		cursor: pointer;
	}
}

.hover-background:hover i {
	@media (min-width: 640px) {
		color: v.$white;
	}
}


// Alerts ---------------------------------------
.alert-box {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 0 10px 0;
	padding: 10px 40px 10px 15px;
	border-radius: 5px;
	color: v.$white;
	width: 100%;
}

.alert-box li {
	color: v.$white;
}

// .alert-box:not(.auth .alert-box) {
//   width: calc(100% - 20px);
// }

// .auth .alert-box {
//   width: 100%;
// }

.alert-box.error {
	background-color: v.$pale-red;
}

.alert-box.success {
	background-color: v.$pale-green-darker;
}

.alert-box.info {
	background-color: v.$baby-blue-darker;
}

// ToDo: Fix floating alert right margin collasping
.floating .alert-box {
	position: fixed;
	z-index: 4;
	bottom: 0;
	right: 0;
	max-width: 400px;

	@media (pointer: coarse)  {
		/* mobile device */
		margin-right: 10px;
		width: calc(100% - 20px)
	}
	
	@media (pointer: fine), (pointer: none), (pointer: fine) and (any-pointer: coarse) {
		/* desktop */
		/* touch desktop */
		width: calc(100% - 37px);
		margin-right: 27px;
	}
}

.limited .alert-box {
	max-width: 600px;
}

.alert-box h3 {
	margin: 0;
}

.alert-box i {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 1rem;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	color: v.$white;
	cursor: pointer;
}

.alert-box i:hover {
	@media (min-width: 640px) {
		background-color: v.$white;
	}
}

.alert-box.error i:hover {
	@media (min-width: 640px) {
		color: v.$pale-red;
	}
}

.alert-box.success i:hover {
	@media (min-width: 640px) {
		color: v.$pale-green-darker;
	}
}

.alert-box.info i:hover {
	@media (min-width: 640px) {
		color: v.$baby-blue-darker;
	}
}

.warning-overlay {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: v.$trans-semi;
	z-index: 6;
}

.warning-box {
	width: 90%;
	max-width: 800px;
	padding: 10px 15px;
}

.warning-box h3 {
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.warning-box p {
	margin: 0;
	padding: 0;
}

.warning-box .row {
	display: flex;
	width: 100%;
}

.warning-box .pb-danger {
	flex-grow: 1;
	min-width: 100px;
	margin: 5px 10px 0 0;
}

.warning-box .pb-success {
	flex-grow: 5;
	margin-top: 5px;
	margin: 5px 0 0 0;
}