@use '../site/v';

.landing-zone-carousel {
  // height: v.$landingzone-height;
}

#homepage-carousel .lz-slide {
  height: v.$landingzone-height;
}

#homepage-carousel .lz-overlay {
  background-color: rgba(0, 0, 0, .3);
}

#products-carousel {
  position: relative;
}

#products-carousel .lz-slide {
  height: 300px;
}

#products-carousel .lz-overlay {
  background-color: rgba(0, 0, 0, .7);
}

#products-carousel .carousel-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  bottom: 10px;
  left: 20px;
  right: 20px;
}

#products-carousel h2, #products-carousel p {
  color: v.$white;
  margin-top: 0;
}

#products-carousel h2 {
  max-width: 600px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#products-carousel p {
  max-width: 1000px;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.landing-zone-carousel .lz-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-position: center;
  background-size: cover;
  padding: 20vh 10vw;
}

.landing-zone-carousel .lz-slide h2 {
  font-size: 2rem;
  margin: 10px;
}

.landing-zone-carousel .lz-slide p {
  font-size: 1.3rem;
  margin: 0;
}

.landing-zone-carousel .lz-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.landing-zone-carousel .lz-nav {
  position: absolute;
  background-color: v.$trans;
}

.landing-zone-carousel .carousel__icon {
  transform: scale(1.2);
  opacity: 0.5;
}

.landing-zone-carousel .carousel__prev {
  left: 20px;
}

.landing-zone-carousel .carousel__next {
  right: 20px;
}

.landing-zone-carousel .lz-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-left: 0;
}

.landing-zone-carousel .carousel__pagination-button {
  height: 16px;
  width: 1px;
  transform: scale(0.8);
  border-radius: 50%;
  background-color: v.$white;
  margin: 0 3vw;
  opacity: 0.5;
}

.landing-zone-carousel .carousel__pagination-button--active,
.landing-zone-carousel .carousel__icon:hover,
.landing-zone-carousel .carousel__pagination-button:hover {
  opacity: 1;
}

.landing-zone-carousel h2, .landing-zone-carousel p {
  z-index: 2;
}
