@use 'v';

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

form .input-label-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 8px;
	min-width: 50px;
	width: 20%;
}

form .input-label-container input,
form .input-label-container label,
form .input-label-container select,
form .input-label-container option {
	min-width: 50px;
}

form.web-box,
.web-box form {
	position: relative;
}

form.web-box .submit,
.web-box form .submit {
	margin-right: auto;
}

form.web-box i,
.web-box form i {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	color: v.$almost-black;
	cursor: pointer;
}

form.web-box i:hover:not(.show-password i),
.web-box form i:hover:not(.show-password i) {
	@media (min-width: 640px) {
		background-color: v.$almost-black;
		color: v.$white;
	}
}

form input:not(form input:last-child, .checkbox-container input, .submit),
textarea,
form label.file-input-label,
form select:not(form select:last-child, .checkbox-container select),
.stripe-input {
	margin-bottom: 10px;
}

form input:not(.checkbox-container input, .submit),
.form input:not(.checkbox-container input, .submit),
textarea,
form label.file-input-label,
form select,
form option,
form .stripe-input {
	padding: 5px 8px;
	border-radius: 5px;
	color: v.$almost-black;
	background-color: v.$white;
	height: 33px;
	cursor: pointer;

	@media (max-width: 640px) {
		height: 28px;
		font-size: 0.7rem;
		padding: 3px 6px;
	}
}

form input:not(.checkbox-container input, .submit),
.form input:not(.checkbox-container input, .submit),
textarea,
form label.file-input-label,
form select:not(.product-page .wb-content),
.stripe-input {
	border: 2px solid v.$brand-alt-light;
}

form input:focus:not(.checkbox-container input, .submit),
.form input:focus:not(.checkbox-container input, .submit),
textarea:focus,
form label.file-input-label:hover,
.stripe-input:focus {
	border: 2px solid v.$white;
}

form select {
	padding: 5px 4px;

	@media (max-width: 640px) {
		padding: 3px 2px;
	}
}

textarea {
	resize: vertical;
	min-height: 100px;
	overflow: hidden;
}

form label.show-password {
	position: relative;
	margin: 0 0 2px 3px;
}

form label.show-password i {
	@media (max-width: 640px) {
		padding-bottom: 6px;
		font-size: 0.8rem;
	}
}

form label:not(.file-input-label, .show-password),
.form label {
	font-weight: bold;
	line-height: 20px;
	margin-left: 2px;
}

form label {
	min-width: 50px;

	@media (max-width: 640px) {
		font-size: 0.8rem;
	}
}

form span.red {
	color: v.$red;
}

form p {
width: 80%;
margin: 5px auto 5px auto;
text-align: center;
}

form i {
	font-size: 1rem;
	position: absolute;
	top: 10px;
	right: 7px;
	z-index: 1;
}

form input.file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

form label.file-input-label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 8px;
	max-width: 300px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	cursor: pointer;
	background-color: v.$white;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

form label.file-input-label::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari and Opera */
}

form label i {
	cursor: pointer;
}

form .checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 5px 0 5px 10px;

	@media (max-width: 640px) {
		margin: 5px 0 5px 4px;
	}
}

form .checkbox-container input {
	margin: 4px 8px 0 0;

	@media (max-width: 640px) {
		margin: 1px 6px 0 0;
	}
}