@use 'v';

header {
	height: v.$header-height;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

header .title {
	display: flex;
	margin-right: auto;
}

#header-title {
	display: flex;

	@media (max-width: 641px) {
		display: none;
	}

	@media (min-width: 750px) {
		font-size: 2rem;
	}

	@media (max-width: 750px) {
		font-size: 1.6rem;
	}
}

#header-title-mini {
	display: flex;
	font-size: 2.2rem;

	@media (min-width: 640px) {
		display: none;
	}
}

header .desktop-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 0 0 0 20px;
	height: 100%;
	position: relative;
	z-index: 5;
}

header .desktop-nav:not(#checkout-page) {
	background-color: v.$header;
}

header#checkout-header .desktop-nav {
	background-color: v.$brand-alt-dark;
	// color: v.$white;
	// border-bottom: 1px solid v.$brand-alt-light;
}

.desktop-nav #nav-menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: v.$header-height;
}

.desktop-nav #header-nav-links {
	display: flex;
	height: 100%;
	padding: 0;
	margin: 0;
}

.desktop-nav .nav-link {
	display: flex;
	align-items: center;
	padding: 0 15px;
	cursor: pointer;
}

.desktop-nav .nav-link .nav-link-contents {
	display: flex;
	align-items: center;
	height: 100%;
}

.desktop-nav .nav-link i:not(.icon-link i) {
	font-size: 1.2rem;
}

.desktop-nav .nav-link .icon-link i {
	font-size: 1.4rem;
}

.desktop-nav .user-button.logged-in {
	background-color: v.$brand-alt-light;
}

.desktop-nav .user-button.logged-in:hover {
	background-color: v.$brand-alt-dark;
}

.desktop-nav .fa-solid.fa-user {
	margin-left: 8px;
}

header #user-menu-container {
	// display: flex;
	overflow: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 4;
}

header #user-menu {
	transition: transform 100ms ease;
	display: flex;
	flex-direction: column;
	background-color: v.$brand-alt-light;
	min-width: 200px;
	border-radius: 0 0 0 5px;
	transform: translate3d(0, -100%, 0);
}

header #user-menu a {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

header #user-menu a:hover,
header #user-menu a:hover i {
	background-color: v.$brand-alt-dark;
	color: v.$white;
}

header #user-menu i {
	margin: auto 0 auto auto;
	width: 24px;
	font-size: 1.1rem;
}