@use 'v';

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: v.$header-height;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: v.$white;
	z-index: 3;

	@media (max-width: 640px) {
		height: v.$header-height-mobile;
	}
	@media (min-width: 640px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

header #header-start,
header #header-end {
	display: flex;
	align-items: center;
	padding: 0 20px;
	width: 50%;
	height: 100%;
	color: v.$brand-main;
}

header #header-start {
	justify-content: flex-start;
}

header #header-start a {
	margin-right: 30px;
	text-transform: uppercase;
}

header #header-start a:hover {
	color: v.$brand-main-darker;
}

header #header-end {
	justify-content: flex-end;
}

header .logo-link {
	max-width: 162px;

	@media (max-width: 640px) {
		max-width: 120px;
	}
}

header img.logo {
	height: v.$header-height;
	padding: 15px 5px;

	@media (max-width: 640px) {
		height: v.$header-height-mobile;
	}
}

header #header-socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	color: v.$brand-main;
}

header #header-socials a {
	margin-left: 30px;
	cursor: pointer;
}

header #header-socials a:hover {
	color: v.$brand-main-darker;
}

header #login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: v.$brand-main;
}

header #login:hover {
	color: v.$brand-main-darker;
}

header #login i {
	font-size: 1.3rem;
	margin-left: 8px;
}

header #login h4 {
	margin: 0;
}

header #nav-menu-button {
	transition: transform 200ms ease;
	font-size: 1.8rem;
	opacity: 0.8;
	color: v.$brand-main;
	cursor: pointer;

	@media (min-width: 500px) {
		padding-bottom: 4px;
	}
}

header #nav-menu-button:hover {
	opacity: 1;
}

header .header-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: v.$brand-main;
	height: 30px;
	padding: 0 10px;
	opacity: 0.8;
}

header .header-button:hover {
	opacity: 1;
}

header .header-button:not(:first-child) {
	margin-left: 10px;
}

header .header-button span {
	color: v.$brand-alt-dark;
	text-align: center;
	line-height: 1rem;
	font-size: 1rem;

	@media (min-width: 640px) {
		font-size: 1.2rem;
	}
}

header .header-desktop {
	@media (max-width: 640px) {
		display: none;
	}
}

header .header-mobile {
	@media (min-width: 640px) {
		display: none;
	}
}