@use 'v';

.site-menu {
	position: fixed;
	top: 0;
	right: -80vw;
	height: 100%;
	width: 80vw;
	background-color: v.$brand-alt-dark;
	padding: 10px 0;
	overflow-y: auto;
	z-index: 6;
	transition: all 200ms ease;
	display: flex;
	flex-direction: column;
}

.site-menu #menu-home-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}

.site-menu img.logo {
	display: flex;
	align-self: center;
	margin: 20px 0;
}

.site-menu #menu-items {
	flex-direction: column;
	padding: 0;
	margin: 0 0 20px 0;
}

.site-menu .nav-link {
	transition: border-radius 200ms ease;
}

.site-menu .primary-nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	padding: 0 20px;
}

.site-menu .nav-sublink {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	padding: 0 20px;
}

.site-menu .nav-link,
.site-menu .primary-nav-link {
	cursor: pointer;
}

.site-menu .primary-nav-link i {
	position: relative;
	display: flex;
	padding-right: 10px;
}

.site-menu .primary-nav-link .basket-count {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -3px;
	right: 4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: v.$white;
	color: v.$brand-alt-dark-almost;
	font-size: 0.5rem;
	z-index: 7;
	padding-left: 0px;
	margin-left: 0px;
}

.site-menu .primary-nav-link:hover,
.site-menu .primary-nav-link:hover,
.site-menu .primary-nav-link:hover {
	@media (min-width: 640px) {
		background-color: v.$brand-alt-dark-almost;
	}
}

.site-menu .nav-link-icon {
	font-size: 1rem;
	// width: 40px;
	text-align: center;
}

.site-menu .nav-sublink .nav-link-icon {
	color: v.$brand-alt-dark;
	margin-left: 5px;
}

.site-menu .nav-link .fa-angle-down,
.site-menu .nav-link .fa-angle-up {
	position: absolute;
	right: 20px;
	font-size: 0.9rem;
}

.site-menu .nav-link:not(.user-nav-link) .fa-angle-down,
.site-menu .nav-link:not(.user-nav-link) .fa-angle-up {
	color: v.$brand-alt-medium;
}

.site-menu .nav-link .fa-angle-up {
	display: none;
}

.site-menu .primary-nav-link:hover .fa-angle-down,
.site-menu .primary-nav-link:hover .fa-angle-up {
	@media (min-width: 640px) {
		color: v.$white;
	}
}

.site-menu .user-nav-link {
	background-color: v.$brand-alt-medium;
}

.site-menu .user-nav-link .fa-angle-down,
.site-menu .user-nav-link .fa-angle-up {
	color: v.$brand-alt-light;
}

.site-menu .nav-sublinks {
	display: flex;
	flex-direction: column;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 200ms ease;
	padding: 0;
}

.site-menu .nav-sublink {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: v.$brand-alt-light;
	// padding-left: 10px;
	min-height: 40px;
	max-height: 40px;
}

.site-menu .nav-sublink:not(:first-child) {
	border-top: 1px solid v.$brand-alt-dark;
}

.site-menu .nav-sublink li {
	color: v.$almost-black;
}

.site-menu #menu-socials {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.site-menu #menu-socials a:not(:first-child) {
	margin-left: 15px;
}

.site-menu #menu-socials i:hover {
	@media (min-width: 640px) {
		color: v.$brand-main;
	}
}

header .menu-overlay {
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background-color: v.$black;
	transition: all 200ms ease;
}

// Transitions
.menu-non-active {
	transform: translate3d(0, 0, 0);
}

.menu-active {
	transform: translate3d(-80vw, 0, 0);
}