@use 'v';

// @font-face {
//   font-family: 'Silk';
//   font-weight: 100;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-ExtraLight.woff2") format('woff2');
// }
// @font-face {
//   font-family: 'Silk';
//   font-weight: 200;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-Light.woff2") format('woff2');
// }
// @font-face {
//   font-family: 'Silk';
//   font-weight: 300;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-Regular.woff2") format('woff2');
// }
// @font-face {
//   font-family: 'Silk';
//   font-weight: 400;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-Medium.woff2") format('woff2');
// }
// @font-face {
//   font-family: 'Silk';
//   font-weight: 500;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-SemiBold.woff2") format('woff2');
// }
// @font-face {
//   font-family: 'Silk';
//   font-weight: 600;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-Bold.woff2") format('woff2');
// }
// @font-face {
//   font-family: 'Silk';
//   font-weight: 700;
//   font-style: normal;
//   src: url("/fonts/Silk-Serif-Black.woff2") format('woff2');
// }

h1, h2, h3, h4, h5, h6, .title {
  // font-family: 'Silk', serif;
	font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  // text-transform: uppercase;
}

p, a, i, li, input, label, button, textarea, select {
  font-family: 'Nunito', sans-serif;
}

.lt h1, .lt h2, .lt h3, .lt h4, .lt h5, .lt h6, .lt p, .lt a, .lt i, .lt li, .lt input, .lt label,
h1.lt, h2.lt, h3.lt, h4.lt, h5.lt, h6.lt, p.lt, a.lt, i.lt, li.lt, input.lt, label.lt, button.lt {
  color: v.$white;
}

.dk h1, .dk h2, .dk h3, .dk h4, .dk h5, .dk h6, .dk p, .dk a, .dk i, .dk li, .dk input, .dk label,
h1.dk, h2.dk, h3.dk, h4.dk, h5.dk, h6.dk, p.dk, a.dk, i.dk, li.dk, input.dk, label.dk {
  color: v.$black;
}

.title h1, .title h2 {
  // line-height: 30px;
  margin: 0;
}

i {
  font-size: 1.6rem;
}
