// Base Colours
$background: rgba(235, 235, 235, 1);
$header: rgba(255, 255, 255, 1);


// Brand Colours
$brand-main: #0f6a6b;
$brand-alt-light: #cecfd0;
// $brand-alt-light: #AEAEAE;
$brand-alt-dark: #5E6264;
// $brand-alt-dark: #878C8F;


// Base Colours
$solid-black: rgba(0, 0, 0, 1);
$clear: rgba(0, 0, 0, 0);
$almost-white: rgba(230, 230, 230, 1);
$almost-black: #231f20;
// $almost-black: rgba(40, 40, 40, 1);

$white: white;
$black: black;




$bg-main: #022a34;
$bg-alt: #053343;
$bg-alt-light: #085069;
$bg-dark: #03081b;
$bg-semi-dark: #384a40;
$bg-light: #a1bcc7;

$hv-main: #0f6a6b;
$hv-alt: #008080;

$trans: rgba(0, 0, 0, 0);
$trans-white: rgba(255, 255, 255, .8);
$trans-semi: rgba(80, 80, 80, .5);
$trans-dark-semi: rgba(0, 0, 0, .5);
$trans-dark: rgba(0, 0, 0, .8);

$pale-red: #FF6666;
$pale-red-darker: #ff1f1f;
$pale-green: #6cbf8b;
$pale-green-darker: #49a76c;
$dull-yellow: #daa520;
$dull-yellow-darker: #c79d33;
$baby-blue: #89cff0;
$baby-blue-darker: #5cbdea;


// Math
$header-height: 65px;
// $landingzone-height: calc(100vh - $header-height);
$landingzone-height: 100vh;


// Box Shadows 
$box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);