@use 'site/v';

main#account {
	flex-grow: 1;
  padding: 40px 20px 60px 20px;
	background: v.$background-lighter;
}

#account h1 {
	align-items: center;
	margin-bottom: 0;
}

#account h1 i {
	margin-right: 8px;
}

#account .section {
	display: flex;
	flex-direction: column;
}

#account .page-button-row .pb-danger{
	margin-left: auto;
}

#account .page-button {
	@media (max-width: 640px) {
		font-size: 0.9rem;
	}
}

#account ul.web-box {
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

#account p {
	margin: 0 0 5px 0;
	// font-size: 1.1rem;
}