@use 'site/v';

#cart {
	padding: 20px;

	@media (min-width: 640px) {
		padding: 40px;
	}
}

#cart h1 {
	margin-top: 20px;
	margin-bottom: 0;
	line-height: 1;
	font-weight: 500;
	font-size: 2.2rem;
}

#cart .cart-functions {
	display: flex;
	flex-direction: row;
	align-items: center;
	// justify-content: center;
	margin: 10px 0;
}

#cart .cart-functions strong {
	font-size: 1rem;

	@media (min-width: 640px) {
		font-size: 1.2rem;
		line-height: 0;
	}
}

#cart .cart-functions strong br {
	@media (min-width: 640px) {
		display: none;
	}
}

#cart .cart-functions strong span {
	@media (max-width: 640px) {
		display: none;
	}
}

#cart .cart-functions a {
	margin: 0 0 0 auto;
	padding: 8px 16px;
	background-color: v.$brand-main;
	color: v.$white;
	text-align: center;
	font-size: 1rem;
	border-radius: 3px;

	@media (max-width: 640px) {
		font-size: 0.9rem;
		padding: 7px 12px 6px 12px;
	}
}

#cart .cart-functions a:hover {
	background-color: v.$brand-main-darker;
}

#cart .cart-line {
	display: flex;
	flex-direction: column;
	background-color: v.$background;
	padding: 20px;

	@media (min-width: 640px) {
		flex-direction: row;
	}
}

#cart .cart-line:not(:last-child) {
	margin-bottom: 20px;
}

#cartlines .wb-image {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightGray;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// border-radius: 3px;
	cursor: pointer;
	min-height: 100px;
	height: 200px;

	@media (min-width: 640px) {
		height: 150px;
		width: 150px;
		margin-right: 10px;
	}
}

#cartlines .wb-image i {
	color: v.$white;
	font-size: 3rem;
}

#cartlines .cart-line-content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	flex-grow: 1;

	@media (max-width: 640px) {
		margin-top: 10px;
	}

	@media (min-width: 640px) {
		margin-left: 10px;
	}
}

#cartlines .cart-line-content .cart-line-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	order: 1;

	@media (max-width: 640px) {
		flex-direction: column;
		align-items: flex-start;
		order: 2;
	}
}

#cartlines .cart-line-content .cart-line-top-row a,
#cartlines .cart-line-content .cart-line-top-row div.line-price-container {
	display: flex;
	flex-direction: column;
}

#cartlines .cart-line-top-row a {
	@media (max-width: 640px) {
		margin-bottom: 5px;
	}
}

#cartlines .cart-line-top-row a h2 {
	font-size: 2rem;
	margin: 0;
}

#cartlines .cart-line-top-row div.line-price-container span {
	font-size: 1.1rem;
	text-align: right;

	@media (max-width: 640px) {
		font-size: 1rem;
		text-align: left;
	}
}

#cartlines .cart-line-top-row div.line-price-container span:first-child {
	margin-bottom: 5px;
}

#cartlines .cart-line-content .variants-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: auto;
	order: 2;

	@media (max-width: 640px) {
		order: 1;
	}
}

#cartlines .cart-line-content .variants-container span {
	padding: 4px 8px 6px 8px;
	margin: 0 5px 5px 0;
	background-color: v.$brand-alt-medium;
	color: v.$white;
	border-radius: 3px;
	white-space: nowrap;
	font-size: 0.8rem;
}

#cartlines .cart-line-content .cart-line-bottom-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
	order: 3;
}

#cartlines .cart-line-bottom-row input {
	width: 80px;
	height: 28px;
	margin-left: 8px;
	padding-right: 3px;
}

#cartlines .cart-line-bottom-row .remove-line {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 24px;
	width: 24px;
	margin: 0 0 0 auto;
	background-color: v.$pale-red;
	border-radius: 3px;

	@media (max-width: 640px) {
		height: 22px;
		width: 22px;
	}
}

#cartlines .cart-line-bottom-row .remove-line:hover {
	@media (min-width: 640px) {
		background-color: v.$pale-red-darker;
	}
}

#cartlines .cart-line-bottom-row .remove-line i {
	color: v.$white;
	margin: 0;
	font-size: 1rem;

	@media (max-width: 640px) {
		font-size: 0.9rem;
	}
}