@use 'site/v';

#checkout-page {
	margin: v.$header-height 20px 20px 20px;
}

#checkout-timeline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto 20px auto;
}

#checkout-timeline i {
	color: v.$almost-black;
}

#checkout-timeline div {
	height: 4px;
	flex-grow: 1;
	background-color: v.$almost-black;
	margin: 0 10px;
	border-radius: 2px;
}

#checkout-page .alert-box {
	max-width: 800px;
}

#checkout-page .web-box {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
	box-shadow: none;
}

#checkout-page .checkout-button-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	max-width: 800px;
	margin: 0 auto 0 auto;
}

#checkout-page .checkout-button-container span {
	margin-left: auto;
}

.checkout-section h3 {
	display: flex;
	align-items: center;
	margin: 0;
	padding-left: 20px;
	width: 100%;
	height: 60px;
	background-color: v.$brand-alt-dark;
	color: v.$white;
}

.checkout-section h3 i {
	color: v.$white;
	margin-right: 10px;
	font-size: 1.2rem;
}

.checkout-section h3 p {
	display: flex;
	margin: 0 20px 0 auto;
	font-size: 1rem;
	font-weight: 400;
	color: v.$white;
	text-transform: capitalize;
}

.checkout-section button.record-toggle {
	display: flex;
	align-items: center;
	margin: 10px 0 0 auto;
}

.checkout-section button.record-toggle:hover i {
	color: v.$black;
}


.checkout-section .checkout-container {
	padding: 20px;
}

.checkout-section form {
	max-width: 1000px;
	overflow-y: hidden;
	transition: all 300ms ease;
}

.checkout-section form:not(.last-child) {
	border-bottom: 1px solid v.$white;
}

.checkout-section form .submit {
	min-width: 80px;
	margin-top: 10px;
}

.checkout-section form .input-label-container:first-child {
	margin-right: 15px;
}

.checkout-section .saved-records-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.checkout-section .saved-record {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: v.$brand-alt-light;
	padding: 10px;
	position: relative;

	@media (min-width: 700px) {
		width: calc(33.3% - 14px);
	}

	@media (min-width: 500px) and (max-width: 700px) {
		width: calc(50% - 10px);
	}

	@media (max-width: 500px) {
		width: 100%;
	}
}

.checkout-section .saved-record:not(.selected-record) {
	cursor: pointer;
}

.checkout-section .saved-record:hover,
.checkout-section .saved-record:hover i:not(.fa-star, .saved-record h4 i),
.checkout-section .selected-record,
.checkout-section .selected-record i:not(.fa-star, .saved-record h4 i) {
	background-color: v.$brand-alt-dark;
}

.checkout-section .saved-record:hover li,
.checkout-section .saved-record:hover li i,
.checkout-section .selected-record li,
.checkout-section .selected-record li i,
.checkout-section .selected-record {
	color: v.$white;
}

.checkout-section .saved-record i:not(.fa-star, .saved-record h4 i, .fa-brands) {
	position: absolute;
	right: 1px;
	border-radius: 5px;
	cursor: pointer;
}

.checkout-section .selected-record .fa-circle-check {
	bottom: 1px;
	color: v.$pale-green;
	padding: 9px;
}

.checkout-section .saved-record .fa-square-xmark {
	top: 1px;
	padding: 9px 9px 5px 9px;
}

.checkout-section .saved-record .fa-square {
	top: 35px;
	padding: 5px 9px 9px 9px;
	align-items: center;
}

.checkout-section .saved-record .fa-square-xmark,
.checkout-section .saved-record .fa-square {
	display: flex;
	color: v.$white;
}

.checkout-section .saved-record:not(.selected-record, :hover) .fa-square-xmark,
.checkout-section .saved-record:not(.selected-record, :hover) .fa-square {
	background-color: v.$brand-alt-light;
}

.checkout-section .saved-record .fa-square-xmark:hover {
	color: v.$pale-red;
}

.checkout-section .saved-record .fa-square:hover {
	color: v.$pale-green;
}

.checkout-section .fa-square .fa-star {
	font-size: 0.8rem;
	line-height: 0;
	width: 0;
	position: relative;
	right: 82%;
}

.checkout-section .fa-square .fa-star:not(.star-selected, .selected-record, .saved-record:hover) {
	color: v.$brand-alt-light;
}

.checkout-section .selected-record .fa-square .fa-star:not(.star-selected),
.checkout-section .saved-record:hover .fa-square .fa-star:not(.star-selected) {
	color: v.$brand-alt-dark;
}

.checkout-section .fa-square .star-selected {
	color: v.$dull-yellow;
}

.checkout-section .saved-record li {
	margin: 0 0 0 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.checkout-section .saved-record li i {
	margin-right: auto;
	font-size: 1.1rem;
}

.checkout-section .saved-record li.record-image-container {
	margin-top: 10px;
}

.checkout-section .saved-record li .record-image {
	display: flex;
	width: 100%;
	height: 100%;
	max-height: 300px;
	min-height: 150px;
	margin: 0;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
}

.checkout-section .saved-record-label-container {
	display: flex;
}

.checkout-section .saved-record h4 {
	display: flex;
	align-items: center;
	margin: 0 0 0 5px;
	// font-size: 1.1rem;
	max-width: 300px;
	// text-align: center;
	background-color: v.$brand-alt-light;
	color: v.$brand-alt-dark;
	border-radius: 3px;
	margin: 0 auto 5px 0;
	padding: 0 8px;
	
	@media (min-width: 800px) {
		font-size: 1rem;
	}

	@media (min-width: 700px) and (max-width: 800px) {
		font-size: 0.8rem;
	}
	
	@media (min-width: 500px) and (max-width: 700px) {
		font-size: 0.8rem;
	}
	
	@media (max-width: 500px) {
		font-size: 1rem;
	}
}

.checkout-section .saved-record h4 i {
	// font-size: 0.8rem;
	color: v.$brand-alt-dark;
	margin-right: 3px;
	
	@media (min-width: 800px) {
		font-size: 0.8rem;
	}

	@media (min-width: 700px) and (max-width: 800px) {
		font-size: 0.6rem;
	}
	
	@media (min-width: 500px) and (max-width: 700px) {
		font-size: 0.6rem;
	}
	
	@media (max-width: 500px) {
		font-size: 0.8rem;
	}
}

.checkout-section .saved-record h4 span.media-control {
	// @media (min-width: 700px) {
	// 	width: calc(33.3% - 14px);
	// }
	
	@media (min-width: 500px) and (max-width: 700px) {
		display: none;
	}
	
	// @media (max-width: 500px) {
	// 	width: 100%;
	// }
}

.checkout-section #continue {
	display: flex;
	align-items: center;
	max-width: 250px;
	margin: 0 0 0 auto;
}

.checkout-section #continue i {
	font-size: 1rem;
	// color: v.$white;
	margin: 0 0 0 10px;
}