@use 'site/v';

#checkout-page {
	margin: v.$header-height 20px 20px 20px;
}

#checkout-timeline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto 20px auto;
}

#checkout-timeline i {
	color: v.$almost-black;
}

#checkout-timeline div {
	height: 4px;
	flex-grow: 1;
	background-color: v.$almost-black;
	margin: 0 10px;
	border-radius: 2px;
}

#checkout-page .web-box {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
	box-shadow: none;
}

.checkout-section h3 {
	display: flex;
	align-items: center;
	margin: 0;
	padding-left: 20px;
	width: 100%;
	height: 60px;
	background-color: v.$brand-alt-dark;
	color: v.$white;
}

.checkout-section h3 i {
	color: v.$white;
	margin-right: 10px;
	font-size: 1.2rem;
}

.checkout-section h3 p {
	display: flex;
	margin: 0 20px 0 auto;
	font-size: 1rem;
	font-weight: 400;
	color: v.$white;
	text-transform: lowercase;
}

.checkout-section button.address-toggle {
	display: flex;
	align-items: center;
	margin: 10px 0 0 auto;
}

.checkout-section button.address-toggle:hover i {
	color: v.$black;
}


.checkout-section .checkout-container {
	padding: 20px;
}

.checkout-section form {
	max-width: 1000px;
	overflow-y: hidden;
	transition: all 300ms ease;
}

.checkout-section form:not(.last-child) {
	border-bottom: 1px solid v.$white;
}

.checkout-section form .submit {
	min-width: 80px;
	margin-top: 10px;
}

.checkout-section form .input-label-container:first-child {
	margin-right: 15px;
}

.checkout-section .saved-addresses {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	// margin-bottom: 20px;
}

.checkout-section .saved-address {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: v.$brand-alt-light;
	padding: 10px;
	position: relative;

	@media (min-width: 700px) {
		width: calc(33.3% - 14px);
	}

	@media (min-width: 500px) and (max-width: 700px) {
		width: calc(50% - 10px);
	}

	@media (max-width: 500px) {
		width: 100%;
	}
}

.checkout-section .saved-address:not(.selected-address) {
	cursor: pointer;
}

.checkout-section .saved-address:hover,
.checkout-section .saved-address:hover i:not(.fa-star),
.checkout-section .selected-address,
.checkout-section .selected-address i:not(.fa-star) {
	background-color: v.$brand-alt-dark;
}

.checkout-section .saved-address:hover li,
.checkout-section .selected-address li,
.checkout-section .selected-address {
	color: v.$white;
}

.checkout-section .saved-address i:not(.fa-star) {
	position: absolute;
	right: 1px;
	border-radius: 5px;
	cursor: pointer;
}

.checkout-section .selected-address .fa-circle-check {
	bottom: 1px;
	color: v.$pale-green;
	padding: 9px;
}

.checkout-section .saved-address .fa-square-xmark {
	top: 1px;
	padding: 9px 9px 5px 9px;
}

.checkout-section .saved-address .fa-square {
	top: 35px;
	padding: 5px 9px 9px 9px;
	align-items: center;
}

.checkout-section .saved-address .fa-square-xmark,
.checkout-section .saved-address .fa-square {
	display: flex;
	color: v.$white;
}

.checkout-section .saved-address:not(.selected-address, :hover) .fa-square-xmark,
.checkout-section .saved-address:not(.selected-address, :hover) .fa-square {
	background-color: v.$brand-alt-light;
}

.checkout-section .saved-address .fa-square-xmark:hover {
	color: v.$pale-red;
}

.checkout-section .saved-address .fa-square:hover {
	color: v.$pale-green;
}

.checkout-section .fa-square .fa-star {
	font-size: 0.8rem;
	line-height: 0;
	width: 0;
	position: relative;
	right: 82%;
}

.checkout-section .fa-square .fa-star:not(.star-selected, .selected-address, .saved-address:hover) {
	color: v.$brand-alt-light;
}

.checkout-section .selected-address .fa-square .fa-star:not(.star-selected),
.checkout-section .saved-address:hover .fa-square .fa-star:not(.star-selected) {
	color: v.$brand-alt-dark;
}

.checkout-section .fa-square .star-selected {
	color: v.$dull-yellow;
}

.checkout-section .saved-address li {
	margin: 0 0 0 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.checkout-section #continue {
	display: flex;
	align-items: center;
	max-width: 200px;
	margin: 0 0 0 auto;
}

.checkout-section #continue i {
	font-size: 1rem;
	// color: v.$white;
	margin: 0 0 0 10px;
}