@use 'site/v';

#checkout-page {
	margin: v.$header-height 20px 20px 20px;
}

#checkout-timeline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto 20px auto;
}

#checkout-timeline i {
	color: v.$almost-black;
}

#checkout-timeline div {
	height: 4px;
	flex-grow: 1;
	background-color: v.$almost-black;
	margin: 0 10px;
	border-radius: 2px;
}

#checkout-page .web-box {
	max-width: 800px;
}

#checkoutaddresses {
	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
	box-shadow: none;
}

#checkoutaddresses h3 {
	display: flex;
	align-items: center;
	margin: 0;
	padding-left: 20px;
	width: 100%;
	height: 60px;
	background-color: v.$brand-alt-light;
}

#checkoutaddresses h3:hover {
	background-color: v.$brand-alt-dark;
	color: v.$white;
	cursor: pointer;
}

#checkoutaddresses h3:hover i {
	color: v.$white;
}

#checkoutaddresses h3 i {
	margin: 0 20px 0 auto;
}

#checkoutaddresses #delivery-container,
#checkoutaddresses #billing-container {
	max-height: 700px;
	padding: 20px;
	overflow-y: hidden;
	transition: all 300ms ease;
}

#checkoutaddresses form:not(.last-child) {
	border-bottom: 1px solid v.$white;
}

#checkoutaddresses form .submit {
	min-width: 80px;
	margin-top: 10px;
}

#checkoutaddresses form .input-label-container:first-child {
	margin-right: 15px;
}

#checkoutaddresses .saved-addresses {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

#checkoutaddresses .saved-address {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: v.$brand-alt-light;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;

	@media (min-width: 700px) {
		width: calc(33.3% - 13px);
	}

	@media (min-width: 500px) and (max-width: 700px) {
		width: calc(50% - 10px);
	}

	@media (max-width: 500px) {
		width: 100%;
	}
}

#checkoutaddresses .saved-address:last-child {
	@media (min-width: 700px) {
		margin-right: auto;
		margin-left: 20px;
	}
}

#checkoutaddresses .saved-address:not(.selected-address) {
	cursor: pointer;
}

#checkoutaddresses .saved-address:hover,
#checkoutaddresses .selected-address {
	background-color: v.$brand-alt-dark;
}

#checkoutaddresses .saved-address:hover li,
#checkoutaddresses .selected-address li {
	color: v.$white;
}

#checkoutaddresses .saved-address i {
	position: absolute;
	right: 1px;
	border-radius: 5px;
}

#checkoutaddresses .selected-address .fa-circle-check {
	bottom: 1px;
	color: v.$pale-green;
	background-color: v.$brand-alt-dark;
	padding: 9px;
}

#checkoutaddresses .saved-address .fa-square-xmark {
	top: 1px;
	padding: 9px 9px 5px 9px;
	color: v.$clear
}

#checkoutaddresses .saved-address .fa-square-check {
	top: 35px;
	padding: 5px 9px 9px 9px;
	color: v.$clear
}

#checkoutaddresses .saved-address:hover .fa-square-xmark,
#checkoutaddresses .saved-address:hover .fa-square-check {
	background-color: v.$brand-alt-dark;
	color: v.$white;
	cursor: pointer;
}

#checkoutaddresses .saved-address .fa-square-xmark:hover {
	color: v.$pale-red;
}

#checkoutaddresses .saved-address .fa-square-check:hover {
	color: v.$pale-green;
}

#checkoutaddresses .saved-address li {
	margin: 0 0 0 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}