@use 'site/v';

.product-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 0;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;

	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

// .product-page section {
// 	margin-bottom: 40px;
// }

.product-page .product-page-main {
	margin-bottom: 20px;

	@media (min-width: 640px) {
		margin-bottom: 40px;
	}
}

.product-page h1 {
	margin: 0;
	font-size: 2.6rem;
	height: 70px;
	line-height: 70px;
}

// Images
.product-page .wb-images {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (min-width: 640px) and (max-width: 760px) {
		width: 50%;
	}

	@media (min-width: 761px) and (max-width: 900px) {
		width: 60%;
		margin-right: 20px;
	}

	@media (min-width: 901px) and (max-width: 1150px) {
		width: 40%;
	}

	@media (min-width: 1151px) {
		width: calc(100vh - 280px);
		min-width: calc(100vh - 280px);
	}
}

.product-page .wb-image {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	background-color: lightGray;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}

.product-page .wb-image .wb-image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-page .wb-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-page .wb-image-container i {
	color: v.$white;
	font-size: 3rem;
}

.product-page .image-row-button-container {
	display: flex;
	flex-direction: row;
}

.product-page .image-row-button-container i {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 40px;
	border-radius: 3px;
	background-color: v.$brand-alt-light;
	color: v.$brand-alt-medium;
	cursor: pointer;
	margin-top: 5px;
}

.product-page .image-row-button-container i:hover {
	@media (min-width: 640px) {
		background-color: v.$background;
	}
}

.product-page .image-row-button-container .fa-caret-right {
	margin-left: 5px;
	padding-right: 2px;
}

.product-page .image-row-button-container .fa-caret-left {
	margin-right: 5px;
	padding-left: 2px;
}

.product-page .image-row-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.product-page .image-row-container::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari and Opera */
}

.product-page .image-row {
	display: flex;
	flex-direction: row;
	margin: 5px 0 0 0;
	height: 45px;
	transition: all 100ms ease;
}

.product-page .image-row div {
	height: 45px;
	width: 45px;
	min-width: 45px;
	border-radius: 3px;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.product-page .image-row div:not(.product-page .image-row div:last-child) {
	margin-right: 5px;
}

.product-page .image-row div:hover {
	@media (min-width: 640px) {
		opacity: 0.6;
	}
}

.product-page .selected-images {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	transition: all 100ms ease-in;

	@media (max-width: 640px) {
		margin-bottom: 20px;
	}
}

.product-page .selected-images div {
	height: 5px;
	width: 45px;
	min-width: 45px;
	background-color: v.$white;
	border-radius: 2px;
}

.product-page .selected-images div.selected {
	background-color: v.$almost-black;
}

.product-page .selected-images div:not(.product-page .selected-images div:last-child) {
	margin-right: 5px;
}

// Content
.product-page .wb-content-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;

	@media (min-width: 640px) and (max-width: 760px) {
		max-width: calc(50% - 20px);
	}

	@media (min-width: 761px) and (max-width: 900px) {
		max-width: calc(40% - 20px);
	}

	@media (min-width: 901px) {
		flex-direction: row;
		max-width: 100%;
	}
}

.product-page .wb-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;

	max-width: 100%;

	@media (min-width: 900px) {
		max-width: 50%;
		margin-left: 20px;
	}
}

.product-page .wb-content:first-child {
	height: 100%;
}

.product-page .wb-content.bg-gray {
	background-color: v.$background;
	padding: 20px;
	// border-radius: 3px;
	max-width: 800px;
}

.product-page .wb-content.bg-gray.full-height {
	@media (min-width: 900px) {
		min-height: 100%;
	}
}

.product-page .wb-content.bg-gray:not(.full-height) {
	margin-top: auto;
}

.product-page .wb-content h3 {
	margin-left: 0;
}

.product-page .wb-content form {
	display: flex;
	flex-grow: 1;
}

.product-page .wb-content .variant-info {
	padding-bottom: 20px;
}

.product-page .wb-content form .variants-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.product-page .wb-content form .variants-container select {
	margin: 8px 0 16px 0;

	@media (max-width: 640px) {
		font-size: 0.7rem;
	}
}

.product-page .wb-content form .options-grid {
	display: grid;
	gap: 10px;
	padding: 8px 0 16px 0;
	width: 100%;
	max-width: 600px;

	@media (max-width: 400px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	@media (min-width: 400px) and (max-width: 640px) {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	@media (min-width: 641px) and (max-width: 1150px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	@media (min-width: 1151px) and (max-width: 1400px) {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	@media (min-width: 1401px) {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}

.product-page .wb-content form .options-grid .option {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: v.$background;
	border: 1px solid v.$background;
	cursor: pointer;

	@media (max-width: 640px) {
		border-radius: 3px;
		background-color: v.$white;
		border: 2px solid v.$white;
	}
}

.product-page .wb-content form .options-grid .option.selected {
	outline: 2px solid v.$almost-black;
}

.product-page .wb-content form .options-grid .option .option-container {
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-page .wb-content form .options-grid .option .option-container img,
.product-page .wb-content form .options-grid .option .option-container div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

	@media (max-width: 640px) {
		border-radius: 3px 3px 2px 2px;
	}
}

.product-page .wb-content form .options-grid .option small {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: wrap;
	padding: 2px 4px;
	font-size: 0.5rem;

	@media (max-width: 640px) {
		width: 100%;
	}

	@media (min-width: 640px) {
		display: none;
		position: absolute;
		top: calc(100% + 5px);
		background-color: v.$white;
		padding: 6px 11px;
		z-index: 2;
		white-space: nowrap;
		font-size: 0.9rem;
	}
}

.product-page .wb-content form .options-grid .option:hover small {
	@media (min-width: 640px) {
		display: flex;
	}
}

.product-page .wb-content form .bottom-row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;

	@media (min-width: 640px) and (max-width: 1300px) {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
}

.product-page .wb-content form .full-height .bottom-row {
	padding-top: 20px;
}

.product-page .wb-content form #price {
	position: relative;
	bottom: 2px;
	font-size: 1.7rem;
	font-weight: 400;
	margin: auto 10px 0 0;
	line-height: 30px;

	@media (max-width: 330px) {
		font-size: 1.1rem;
	}

	@media (min-width: 330px) and (max-width: 1300px) {
		font-size: 1.4rem;
	}
}

.product-page .wb-content form .bottom-row-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 0 auto;

	@media (min-width: 640px) and (max-width: 1300px) {
		margin: 4px 0 0 0;
		width: 100%;
	}
}

.product-page .wb-content form input#quantity {
	height: 33px;
	width: 65px;
	margin: 0 10px 0 auto;

	@media (max-width: 640px) {
		font-size: 0.7rem;
		height: 27px;
		// width: 40px;
	}
}

.product-page .wb-content form .submit {
	margin: 0;
	white-space: nowrap;

	@media (max-width: 330px) {
		font-size: 0.7rem;
		height: 27px;
	}

	@media (min-width: 330px) and (max-width: 640px) {
		font-size: 0.8rem;
		height: 27px;
	}

	@media (min-width: 640px) and (max-width: 1300px) {
		font-size: 1rem;
		width: 100%;
	}
}

.product-page .product-page-tab-section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.product-page .product-page-tab-section #product-tab-titles {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.product-page .product-page-tab-section #product-tab-titles h3 {
	display: flex;
	flex-grow: 2;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0;
	background-color: v.$background;
	color: v.$brand-alt-medium;
	transition: flex-grow 150ms ease-in-out;

	@media (max-width: 640px) {
		font-size: 0.9rem;
	}
}

.product-page .product-page-tab-section #product-tab-titles h3:not(h3:first-child) {
	margin-left: 10px;
}

.product-page .product-page-tab-section #product-tab-titles h3:not(h3.tab-selected):hover {
	cursor: pointer;
	
	@media (min-width: 640px) {
		background-color: v.$brand-alt-medium;
		color: v.$white;
	}
}

.product-page .product-page-tab-section #product-tab-titles h3.tab-selected {
	background-color: v.$brand-alt-medium;
	color: v.$white;
	// flex-grow: 2;
	flex-grow: 3;
}

.product-page .product-page-tab-section #product-tab-content {
	display: flex;
	flex-direction: row;
	width: 100%;

	@media (min-width: 640px) {
		padding: 10px 20px;
	}
}

.product-page .product-page-tab-section #product-tab-content div:not(div.tab-selected),
.product-page .product-page-tab-section #product-tab-content ul:not(ul.tab-selected) {
	display: none;
}

.product-page .product-page-tab-section #product-tab-content ul {
	padding: 0;
	margin: 20px;
	list-style: inside;
}

.product-page .product-page-tab-section #product-tab-content p {
	margin: 20px 0;

	@media (max-width: 640px) {
		text-align: center;
	}
}

// Transitions ------------------------------
.product-page #cartAlert {
	display: flex;
	flex-direction: column-reverse;
	transition: all 200ms ease-in;
	position: absolute;
	z-index: 4;
	bottom: 0;
	right: -10px;
	width: 100%;
	max-width: 400px;
}

.product-page #cartAlert ul {
	transition: all 200ms ease-in;
	margin-bottom: 20px;
}

.product-page .alert-transition {
	transform: translate3d(-410px, 0, 0);
}