@use 'site/v';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 10vh;
}

.login .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100vw;
  padding: 20px;
}

.login form {
  width: 100%;
}

.login a {
  margin-bottom: 50px;
}

.login h1, .login h2 {
  font-size: 2rem;
  margin: auto 0 0 0;
  opacity: 0.2;
  cursor: default;
}

.login .alert-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px;
}

.login #alertmessage, .login #alerterror {
  width: 100%;
  max-width: 560px;
}

@media (max-width:580px) {
  #adminLoginPage .alert-box {
    margin: 0 10px 10px 10px;
  }
}
