@use 'site/v';

.contact .contact-main {
  display: flex;
  flex-direction: row;
}

.contact-main h4 {
  font-size: 1.1rem;
  margin: 0 0 0 7px;
}

.contact-main .email-phone-section {
  margin-left: auto;
}

.contact-main li.label {
	margin: 0;
	line-height: 1rem;
}