@use 'v';

html {
	height: 100dvh;
	width: 100vw;
	padding-bottom: env(safe-area-inset-bottom);
}

body {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	transition: all 200ms ease;
}

#admin-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: v.$bg-main;
	overflow-y: auto;
	overflow-x: hidden;
}

main {
	margin: 10px 10px 10px 10px;
}

main h1 {
	margin: 0 0 10px 0;

	@media (max-width: 1000px) {
		font-size: 1.6rem;
	}

	@media (max-width: 640px) {
		font-size: 1.3rem;
	}
}

main h2 {
	margin: 0 0 5px 0;

	@media (max-width: 1000px) {
		font-size: 1.4rem;
	}

	@media (max-width: 640px) {
		font-size: 1.1rem;
	}
}

.link-trail {
	position: relative;
	top: -8px;
	left: -4px;
}

.link-trail i {
	font-size: 0.9rem;
	opacity: .8;
}

.link-trail a:hover {
	@media (min-width: 640px) {
		color: v.$alt-main;
		text-decoration: underline;
	}
}

.page-column-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;

	@media (max-width: 800px) {
		flex-direction: column;
	}
}

@media (min-width: 800px) {
	.page-column-container.columns-2 .page-column {
		width: calc(50% - 10px);
	}
	
	.page-column-container.columns-3 .page-column {
		width: calc(33.33% - 10px);
	}

	.page-column-container.columns-4 .page-column {
		width: calc(25% - 10px);
	}
}

.page-column-container .page-column {
	display: flex;
	flex-direction: column;
}

.web-box {
	background-color: v.$white;
	border-radius: 5px;
	box-shadow: 0 0 6px -2px v.$trans-semi;
	padding: 15px;
	margin-bottom: 10px;
}

.web-box .wb-row {
	display: flex;
	flex-direction: row;

	@media (max-width: 800px) {
		flex-direction: column;
	}
}

.web-box h3 {
	font-size: 1.4rem;
	margin: 0 0 10px 0;
}

.web-box ul {
	margin: 0;
	padding: 10px;
}

.web-box ul.limit-width {
	@media (min-width: 571px) {
		min-width: 300px;
		max-width: calc(50% - 15px);
	}
}

.web-box li {
	margin-bottom: 5px;
}

.web-box .text-box {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 6px -2px v.$trans-semi;
	padding: 15px;
	// margin: 10px 5px 15px -10px;

	// @media (max-width: 570px) {
	// 	margin: 10px -10px 15px -10px;
	// }
}

.wb-row ul {
	margin: 0 5px 0 0;
	width: 100%;

	@media (min-width: 800px) {
		width: 60%;
	}
}

.wb-row .wb-image {
	position: relative;
	border-radius: 3px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 0px;
	width: 100%;
	padding-bottom: 100%;

	@media (min-width: 800px) {
		width: 40%;
		padding-bottom: 400px;
	}
	@media (min-width: 1000px) {
		padding-bottom: 500px;
	}
}

.profile-main .wb-row .wb-image {
	@media (min-width: 800px) {
		margin-left: auto;
	}
}

.image-viewer {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 40px;
	max-width: 100%;
	max-height: 100%;
	background-color: v.$trans-extra-dark;
	z-index: 6;
}

.viewer-image {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100vw - 80px);
	max-height: calc(100vh - 80px);
	object-fit: contain;
}

.image-viewer .fa-xmark {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
	color: v.$white;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1.1rem;
	width: 18px;
	height: 18px;
}

.image-viewer .fa-xmark:hover {
	@media (min-width: 640px) {
		color: v.$black;
		background-color: v.$white;
	}
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 100%;
}

ul .list-row {
	display: flex;
	width: 100%;

	@media (min-width: 571px) {
		flex-direction: row;
	}

	@media (max-width: 570px) {
		flex-direction: column;
	}
}

ul .list-row li {
	flex-grow: 1;
	max-width: 600px;
}

ul .list-row li:first-child {
	@media (min-width: 571px) {
		margin-right: 10px;
	}

	@media (max-width: 570px) {
		margin-bottom: 10px;
	}
}

.page-button-row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

button,
a.page-button {
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

button {
	padding: 6px 8px;
}

a.page-button {
	padding: 3px 8px;
}

button.page-button,
a.page-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: v.$alt-main;
	color: v.$white;
	font-size: 0.9rem;

	@media (max-width: 640px) {
		font-size: 0.8rem;
	}
}

button.page-button:not(.data-form button),
a.page-button {
	margin: 0 5px 10px 0;
}

button.page-button:hover,
a.page-button:hover {
	@media (min-width: 640px) {
		background-color: v.$alt-semi-dark;
	}
}

button.page-button i,
a.page-button i {
	font-size: 1rem;
	color: white;
	margin-right: 5px;

	@media (max-width: 640px) {
		font-size: 0.9rem;
	}
}

button.button-active {
	background-color: v.$bg-dark;
}

button.button-active:hover {
	@media (min-width: 640px) {
		background-color: v.$alt-dark;
	}
}

button.pb-success,
a.pb-success,
button.pb-danger,
a.pb-success {
	margin: 0 5px 10px 0;
	color: v.$white;
}

button.pb-success,
a.pb-success {
	background-color: v.$pale-green-darker;
}

button.pb-success:hover,
a.pb-success:hover {
	@media (min-width: 640px) {
		background-color: v.$pale-green;
	}
}

button.pb-danger,
a.pb-danger {
	background-color: v.$pale-red-darker;
}

button.pb-danger:hover,
a.pb-danger:hover {
	@media (min-width: 640px) {
		background-color: v.$pale-red;
	}
}

.fa-toggle-off {
	color: v.$pale-red;
}

.fa-toggle-on {
	color: v.$pale-green;
}

a.display-link {
	color: v.$baby-blue-dark;
}

a.display-link:hover {
	@media (min-width: 640px) {
		color: v.$baby-blue;
		text-decoration: underline;
	}
}

.string-container {
	padding: 1px 6px;
	border-radius: 5px;
	background-color: v.$black;
	color: white;
}

.string-container.small {
	font-size: 0.9rem;
}

.vue-button-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	// margin-top: 10px;
}

.vue-button-row.vue-button-row-js {
	@media (max-width: 640px) {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

.vue-button-row div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.vue-button-row div:last-child {
	justify-content: flex-end;

	@media (min-width: 640px) {
		padding-left: 50px;
	}
}

.vue-button-row div.vue-button-row-js {
	@media (max-width: 640px) {
		margin-left: auto;
	}
	
	// align-items: flex-end;
}

.vue-button-row .page-button span {
	margin-left: 5px;

	@media (max-width: 640px) {
		margin-left: 3px;
	}
}

// Alerts ---------------------------------------
.alert-box {
	display: flex;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 0 10px 0;
	padding: 10px 30px 10px 15px;
	border-radius: 5px;
	color: white;
	max-width: 600px;
}

.alert-box.error {
	background-color: v.$pale-red;
}

.alert-box.success {
	background-color: v.$pale-green;
}

.alert-box h3 {
	margin: 0;
}

.alert-box i {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 1rem;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.alert-box i:hover {
	@media (min-width: 640px) {
		background-color: white;
	}
}

.alert-box.error i:hover {
	@media (min-width: 640px) {
		color: v.$pale-red;
	}
}

.alert-box.success i:hover {
	@media (min-width: 640px) {
		color: v.$pale-green;
	}
}

.warning-overlay {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: v.$trans-semi;
	z-index: 6;
}

.warning-box {
	width: 90%;
	max-width: 800px;
	padding: 10px 15px;
}

.warning-box h3 {
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.warning-box p {
	margin: 0;
	padding: 0;
}

.warning-box .row {
	display: flex;
	width: 100%;
}

.warning-box .pb-danger {
	flex-grow: 1;
	min-width: 100px;
	margin: 5px 10px 0 0;
}

.warning-box .pb-success {
	flex-grow: 5;
	margin-top: 5px;
	margin: 5px 0 0 0;
}


// Hover Styles ---------------------------------------
.hover:hover,
.hover:hover h2,
.hover:hover li,
.hover:hover i {
	@media (min-width: 640px) {
		cursor: pointer;
		text-decoration: none;
		color: v.$bg-dark;
	}
}

.hover-outline:hover {
	@media (min-width: 640px) {
		outline: 1px solid v.$white;
		border-radius: 3px;
		padding: 5px;
	}
}

.hover-background:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-semi-light;
		color: v.$white;
		cursor: pointer;
	}
}


// Media Queries
@media (max-width: 650px) {
	.hide-mobile {
		display: none;
	}
}