@use 'v';

.form-title:not(form, .web-box) {
	margin-top: 5px;
	margin-bottom: 5px;
}

.web-box .form-title {
	color: v.$gray-2;
	margin-top: 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

form .input-label-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 8px;
	min-width: 50px;
	width: 20%;
}

form input,
// form label,
form select,
form option,
form textarea,
form .file-input-label {
	font-size: 0.9rem;

	@media (max-width: 800px) {
		font-size: 0.8rem;
	}
}

form.data-form input,
form.data-form label:not(.radio-container label),
form.data-form select,
form.data-form option,
form.data-form .checkbox-container {
	max-width: 550px;

	@media (max-width: 750px) {
		max-width: 800px;
	}
}

form.data-form .file-input-label {
	max-width: 300px;

	@media (max-width: 500px) {
		max-width: 550px;
	}
}

form.data-form .submit {
	margin-top: 5px;
}

form .input-label-container input,
form .input-label-container label:not(.radio-container label),
form .input-label-container select,
form .input-label-container option {
	min-width: 50px;
}

form.web-box,
.web-box form {
	position: relative;
}

form.web-box .submit,
.web-box form .submit {
	margin-right: auto;
}

form.web-box i,
.web-box form i {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	color: v.$black;
	cursor: pointer;
}

form.web-box i:hover:not(.show-password i),
.web-box form i:hover:not(.show-password i) {
	background-color: v.$black;
	color: v.$white;
}

form input:not(form input:last-child, .radio-container input, .checkbox-container input, .submit),
form textarea,
form label.file-input-label,
form select,
.stripe-input {
	margin-bottom: 10px;
}

form input:not(.radio-container input, .checkbox-container input, .submit),
form textarea,
form label.file-input-label,
form label.file-input-label input,
form select,
form option {
	padding: 5px 8px;
	border-radius: 5px;
	color: v.$black;
	background-color: white;
	height: 33px;
	cursor: pointer;
}

form.web-box input:not(.radio-container input, .checkbox-container input, .submit),
form.web-box textarea,
form.web-box label.file-input-label,
form.web-box select:not(.product-page .wb-content) {
	border: 2px solid v.$gray-1;
}

form.web-box input:focus:not(.radio-container input, .checkbox-container input, .submit),
form.web-box textarea:focus,
form.web-box label.file-input-label:hover {
	border: 2px solid v.$black;
}

form input.date-input {
	max-width: 300px;
}

form textarea {
	resize: vertical;
	min-height: 100px;
	overflow: hidden;
}

form .submit {
	background-color: v.$bg-dark;
	border: none;
	color: v.$white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 0.9rem;
	height: 33px;
	padding: 5px 10px;
}

form .submit:not(.web-box .submit, .product-page-main .submit) {
	width: 80%;
	margin: 5px auto 5px auto;
}

form .submit:hover {
	background-color: v.$alt-dark;
	border: none;
}

form label.show-password {
	position: relative;
	margin: 0 0 2px 3px;
}

form label:not(.file-input-label, .show-password),
.form label {
	font-weight: bold;
	line-height: 20px;
	margin-left: 2px;
}

form label:not(.radio-container label) {
	min-width: 50px;
}

form span {
	color: v.$pale-red;
}

form p {
width: 80%;
margin: 5px auto 5px auto;
text-align: center;
}

form i {
	font-size: 0.9rem;
	position: absolute;
	top: 10px;
	right: 7px;
	z-index: 1;
}

form input.file-input {
	max-width: 300px;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

form label.file-input-label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 8px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 300px;
	cursor: pointer;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

form label.file-input-label::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari and Opera */
}

form label i {
	cursor: pointer;
}

form .checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0 0 10px 5px;
}

form .checkbox-container input {
	margin: 0 5px 0 0;
}

form .checkbox-container label {
	font-size: 0.9rem;
}

.form-validation-failed {
	border: 2px solid v.$pale-red;
}

form .radio-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px 0 5px 5px;
	margin-bottom: 5px;
}

form .radio-container div {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 20px;
}

form .radio-container input {
	cursor: pointer;
	height: 20px;
	margin: 0;
}

form .radio-container label {
	cursor: pointer;
	height: 20px;
	margin: 0;
	padding-left: 5px;
	font-size: 0.9rem;
}