@use 'v';

header {
  height: v.$header-height;
  position: relative;
}

header .desktop-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 100%;
  background-color: v.$alt-main;
  position: relative;
  z-index: 5;
}

header .desktop-nav i {
	font-size: 1.3rem;
}

.desktop-nav .header-button.selected,
.desktop-nav .nav-button.selected {
	background-color: v.$bg-dark !important;
}

.desktop-nav .header-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.desktop-nav .header-button:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-dark;
	}
}

.desktop-nav .nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: v.$header-height;
}

.desktop-nav .nav-button:hover:not(.desktop-nav #non-active:hover), .desktop-nav #user-button:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-dark;
		cursor: pointer;
	}
}

.desktop-nav .home-button {
  margin-right: auto;
}

.desktop-nav #user-header-container,
.desktop-nav #notification-header-container,
.desktop-nav #settings-header-container {
  position: relative;
  height: 100%;
}

.desktop-nav #notification-button,
.desktop-nav #settings-button {
  position: relative;
  padding: 0 15px;
  z-index: 7;
}

.desktop-nav #notification-header-container .alert {
	background-color: v.$dull-yellow-dark;
}

.desktop-nav #user-button {
	position: relative;
  background-color: v.$bg-semi-dark;
  padding: 0 15px;
  z-index: 7;
}


.desktop-nav #user-button p {
  margin-right: 10px;
}



header #notification-menu,
header #settings-menu {
	transition: transform 100ms ease;
  display: flex;
  flex-direction: column;
  background-color: v.$bg-dark;
  position: absolute;
  bottom: 0;
  z-index: 4;
  border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding: 6px 0 6px 0;

	@media (max-width: 410px) {
		left: 0;
	}
}

header #notification-menu {
	width: 280px;
}

header #notification-menu #notificationNav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 13px 10px 13px;
}

header #notification-menu #notificationNav h3 {
	margin: 0 auto 0 0;
	line-height: 10px;
}

header #notification-menu #notificationNav button {
	margin: 0;
}

header #notification-menu .notification {
	display: flex;
	flex-direction: column;
	padding: 5px 13px 7px 13px;
	border-top: 1px solid v.$trans-semi;
}

header #notification-menu #notificationsEmpty {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

header #notification-menu .notification {
	display: flex;
	flex-direction: column;
	padding: 5px 13px 7px 13px;
	border-top: 1px solid v.$trans-semi;
}

header #notification-menu .notification h4 {
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

header #notification-menu .notification h4 i {
	font-size: 0.9rem;
	display: flex;
	margin-left: auto;
	cursor: pointer;
}

header #notification-menu .notification p {
	margin: 0;
	font-size: 0.8rem;
	line-height: 15px;
	color: v.$bg-main;
}

header #settings-menu {
	width: 180px;
}

header #settings-menu .settings-group {
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
	padding: 6px 0 8px 0;
}

header #settings-menu .settings-group h4 {
	margin: 0;
	padding: 0 13px 0 13px;
}

header #settings-menu .settings-group div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-left: 15px;
	padding-right: 15px;
}

header #settings-menu .settings-group span {
	color: v.$white;
	font-size: 0.9rem;
	margin-right: auto;
}

header #settings-menu .settings-group i {
	cursor: pointer;
	background-color: v.$bg-dark;
	padding-left: 5px;
}

header #settings-menu .settings-group i.fa-circle-check,
header #settings-menu .settings-group i.fa-circle-xmark {
	font-size: 0.8rem;
}

header #settings-menu .settings-group i.fa-envelope {
	font-size: 0.9rem;
}

header #settings-menu .settings-group i:hover {
	@media (min-width: 640px) {
		color: v.$bg-main;
	}
}

header #settings-menu .settings-group i:not(.active) {
	color: v.$bg-main;
}

header #settings-menu .settings-group i.active {
	color: v.$green;
}

header #user-menu {
  transition: transform 100ms ease;
  display: flex;
  flex-direction: column;
  background-color: v.$alt-main;
  position: absolute;
  bottom: 0;
  right: v.$header-height;
  z-index: 4;
  border-radius: 0 0 5px 5px;
	overflow: hidden;
}

header #user-menu a {
  width: 100%;
  padding: 10px;
}

header #user-menu a:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-dark;
		color: v.$white;
	}
}
