@use 'v';

header {
  height: v.$header-height;
  position: relative;
}

header .desktop-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 100%;
  background-color: v.$alt-main;
  position: relative;
  z-index: 5;
}

.desktop-nav .header-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.desktop-nav .header-button:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-dark;
	}
}

.desktop-nav .nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: v.$header-height;
}

.desktop-nav .nav-button:hover:not(.desktop-nav #non-active:hover), .desktop-nav #user-button:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-dark;
		cursor: pointer;
	}
}

.desktop-nav #menu-button {
	background-color: v.$bg-semi-light;
}

.desktop-nav .home-button {
  margin-right: auto;
}

.desktop-nav #user-header-container,
.desktop-nav #notification-header-container {
  position: relative;
  height: 100%;
}

.desktop-nav #user-button {
	position: relative;
  background-color: v.$bg-semi-dark;
  padding: 0 15px;
  z-index: 7;
}

.desktop-nav #notification-button {
  position: relative;
  background-color: v.$bg-semi-light;
  padding: 0 15px;
  z-index: 7;
}

.desktop-nav #user-button p {
  margin-right: 10px;
}

header #notification-menu {
	transition: transform 100ms ease;
  display: flex;
  flex-direction: column;
  background-color: v.$bg-dark;
  position: absolute;
  bottom: 0;
  z-index: 4;
  border-radius: 0 0 5px 5px;
	overflow: hidden;
	width: 180px;
	padding: 6px 0 15px 0;

	@media (max-width: 410px) {
		left: 0;
	}
}

header #notification-menu .notification-group {
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
}

header #notification-menu .notification-group h3 {
	margin: 0;
	padding: 0 13px 0 13px;
}

header #notification-menu .notification-group div {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

header #notification-menu .notification-group i {
	cursor: pointer;
	font-size: 1.1rem;
	background-color: v.$bg-dark;
}

header #notification-menu .notification-group i:hover {
	@media (min-width: 640px) {
		color: v.$bg-main;
	}
}

header #notification-menu .notification-group i.fa-square-xmark {
	color: v.$pale-red;
}

header #notification-menu .notification-group i.fa-square-check {
	color: v.$pale-green;
}

header #notification-menu .notification-group span {
	color: v.$white;
	padding-left: 5px;
}

header #user-menu {
  transition: transform 100ms ease;
  display: flex;
  flex-direction: column;
  background-color: v.$alt-main;
  position: absolute;
  bottom: 0;
  right: v.$header-height;
  z-index: 4;
  border-radius: 0 0 5px 5px;
	overflow: hidden;
}

header #user-menu a {
  width: 100%;
  padding: 10px;
}

header #user-menu a:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-dark;
		color: v.$white;
	}
}
