@use 'v';

.table-title {
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
	position: relative;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
	display: table;
  table-layout: fixed;
}

tr {
	display: flex;
	align-items: center;
	position: relative;
}

thead tr {
  height: 35px;
	border-bottom: 1px solid v.$gray-1;

	@media (max-width: 800px) {
		height: 30px;
	}
}

tbody tr {
  height: 30px;
}

tbody tr:not(:last-child) {
	border-bottom: 1px solid v.$bg-main;
}

tr th {
  white-space: nowrap;
	cursor: pointer;
}

tr th .fa-angle-down,
tr th .fa-angle-up {
	font-size: 0.9rem;

	@media (max-width: 800px) {
		font-size: 0.8rem;
	}
}

tr th, tr td {
  padding-left: 7px;
  text-align: left;
	font-size: 0.9rem;

	@media (max-width: 800px) {
		font-size: 0.8rem;
	}
}

tr th:last-child, tr td:last-child {
  padding-right: 8px;
}

tr th:not(.tr-buttons),
tr td:not(.tr-buttons) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

tbody tr i {
  cursor: pointer;
  color: v.$bg-dark;
	font-size: 1rem;
  padding-left: 7px;
}

tr .tr-buttons {
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: row;
  text-align: right;
  white-space: nowrap;
	padding-left: 0;
}

tr .tr-buttons i {
	position: relative;
	color: v.$black;
}

tr .tr-buttons i:hover {
  color: v.$alt-semi-dark
}

tr .tr-buttons i:hover .button-label:not(.button-label:hover) {
  display: block;
}

tr .tr-buttons .button-label {
  margin: 0;
  padding: 0;
  display: none;
  z-index: 2;
}

tr .tr-buttons .button-label p {
  position: absolute;
  bottom: -20px;
  right: 117%;
  background-color: v.$bg-dark;
  color: v.$white;
  padding: 6px 10px 6px 8px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

tr .tr-buttons .button-label div {
  position: absolute;
  bottom: 2px;
  right: 100%;
  height: 12px;
  width: 12px;
  background-color: v.$bg-dark;
  transform: rotate(45deg);
  border-radius: 0 3px 0 10px;
}

table .empty-table {
	display: flex;
	align-items: center;
  width: 100%;
  opacity: 0.6;
	height: 80px;
	padding-left: 20px;
}

table .empty-table h3 {
  color: v.$black;
	margin: 0;
}

table td .toggle-true {
	color: v.$pale-green;
}

table td .toggle-true:hover {
	color: v.$pale-green-darker;
}

table td .toggle-false {
	color: v.$pale-red;
}

table td .toggle-false:hover {
	color: v.$pale-red-darker;
}

table .hide-mobile {
	display: none;
}

table input:not(tfoot input),
table select:not(tfoot select) {
	-webkit-appearance: none;
  -moz-appearance: none;
	background-color: v.$trans;
	border-radius: 3px;
	outline: none;
	max-width: 100%;
	padding: 3px 2px 3px 0;
	margin: 2px;
}

table input:not(tfoot input):hover,
table input:not(tfoot input):focus,
table select:not(tfoot select):hover,
table select:not(tfoot select):focus {
	-webkit-appearance: menulist;
  -moz-appearance: menulist;
	background-color: white;
	outline: 2px solid v.$black;
	cursor: pointer;
}

tfoot tr {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 30px;
	color: v.$black;
	border-top: 1px solid v.$gray-1;
	font-size: 0.8rem;
}

tfoot tr td:not(:first-child) {
	padding-left: 15px;
}

tfoot tr td i {
	font-size: 0.8rem;
}

// tfoot tr td i:not(button i) {
// 	color: v.$black;
// }

tfoot tr td:last-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
	padding-right: 4px;
}

.page-column tfoot .hide-mobile-marker {
	display: none;
}

tfoot .hide-mobile-xs-marker {
	@media (max-width: 440px) {
		display: none;
	}
}

tfoot input,
tfoot select {
	background-color: white;
	outline: 2px solid v.$gray-1;
	border-radius: 3px;
	max-width: 100%;
	padding: 1px 2px 0 1px;
	margin: 2px;
	cursor: pointer;
}

tfoot button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: v.$alt-main;
	color: v.$white;
	margin: 2px;
	padding: 4px 8px;
}

tfoot button:hover {
	background-color: v.$alt-semi-dark;
}

tfoot button.button-off {
	background-color: v.$gray-1;
	cursor: default;
}

tfoot button i {
	padding: 0;
	margin: 0;
	color: v.$white !important;
}

tfoot .icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 0.9rem;
	background-color: v.$black;
	color: v.$white;
	cursor: pointer;

	@media (max-width: 440px) {
		font-size: 0.8rem;
	}
}

tfoot .icon-container i {
	color: v.$white;
	font-size: 0.8rem;
	margin-right: 5px;
}

tfoot .icon-container span {
	margin-left: 5px;
}