@use 'v';

table {
	position: relative;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
	border-bottom: 1px solid v.$bg-main;
}

thead tr {
  height: 35px;
}

tbody tr {
  height: 30px;
}

table .fa-xmark {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	color: v.$black;
	cursor: pointer;
	font-size: 1rem;
}

table .fa-xmark:hover {
	background-color: v.$black;
	color: v.$white;
}

tr th {
  white-space: nowrap;
}

tr th, tr td {
  padding-left: 7px;
  text-align: left;
}

tr th:last-child, tr td:last-child {
  padding-right: 8px;
}

tr td div {
  display: flex;
  // align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

tr td div::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

tr .tr-buttons {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

tr i:not(.primary, .non-primary, .fa-xmark) {
  position: relative;
  font-size: 1.1rem;
  text-align: right;
  cursor: pointer;
  color: v.$bg-dark;
  margin-top: 3px;
}

tr i:not(tr:first-child, .primary, .non-primary) {
  margin-left: 7px;
}

tr i:hover:not(.primary, .non-primary) {
  color: v.$alt-semi-dark
}

tr i:hover .button-label:not(tr .button-label:hover) {
  display: inline-block;
}

tr .button-label {
  margin: 0;
  padding: 0;
  display: none;
  z-index: 2;
}

tr .button-label p {
  position: absolute;
  bottom: -20px;
  right: 150%;
  background-color: v.$bg-dark;
  color: v.$white;
  padding: 6px 10px 6px 8px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

tr .button-label div {
  position: absolute;
  bottom: 3px;
  right: 125%;
  height: 12px;
  width: 12px;
  background-color: v.$bg-dark;
  transform: rotate(45deg);
  border-radius: 0 3px 0 10px;
}

table .empty-table {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin: 20px;
  width: 100%;
  opacity: 0.6;
}

table .empty-table h3 {
  margin: 0;
  color: v.$black;
}

table .primary, table .non-primary {
  font-size: 1.1rem;
}

table .primary {
  color: v.$pale-green;
}

table .non-primary {
  color: v.$pale-red;
}

table nav {
	display: flex;
	width: 100%;
}

table .pagination-controls {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}