
// Colours
$bg-main: #cfcfd1;
$bg-light: #c0c0c0;
$bg-semi-light: #7d9ab4;
$bg-semi-dark: #445e75;
$bg-dark: #283745;

$alt-main: #5a7c9c;
$alt-semi-dark: #47627c;
$alt-dark: #3e556b;

$white: rgba(255, 252, 250, 1);
$off-white: rgba(247, 244, 242, 1);
// $white: #ebe6e2;
$black: #060805;
$gray-1: #878C8F;
$gray-2: #6C7072;

$trans: rgba(0, 0, 0, 0);
$trans-semi: rgba(80, 80, 80, .5);
$trans-dark: rgba(0, 0, 0, .8);
$trans-extra-dark: rgba(0, 0, 0, .9);

$red: #dc3545;
$red-darker: #bb2d3b;
$green: #6cbf8b;
$green-darker: #49a76c;
$dull-yellow: #daa520;
$dull-yellow-dark: #c79d33;
$baby-blue: #30aae4;
$baby-blue-dark: #1d9fdd;
$sea-blue: #2ba5cb;


// Math
$header-height: 50px;
